<h1 class="page-header">Genres
  <%= link_to new_genre_path, class: "btn btn-lg btn-success col-md-offset-1" do%>
    <span class="fa fa-plus"></span>
    New
  <%end%>
</h1>
<br>

<div class="col-md-12 col-lg-10">
  <table class="table table-bordered">
    <tbody>
      <%@genres.each do |g|%>
      <tr>
        <td>
          <div class="listed-vid row">
            <div class="col-sm-4 col-lg-4">
              <%= image_tag(g.thumbnail, alt: "Thumbnail")%>
            </div>  
            <div class="col-sm-8 col-lg-8">
              <ul>
                <li>
                  <h1>
                    <%= g.genre_name%>&nbsp;
                    <%= link_to edit_genre_path(g), :class => "btn btn-warning"  do%>
                    <span class="fa fa-pencil"></span>
                    Edit
                    <%end%>
                    <%= link_to g, method: :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-danger"   do%>
                    <span class="fa fa-trash-o"></span>  
                    Delete                  
                    <%end%>
                  </h1>
                </li>
              </ul>
            </div>          
          </div>
        </td>
      </tr>
      <%end%>
    </tbody>  
  </table>  
</div>          
