<% if user_signed_in? %>
	<li class="dropdown">
		<a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">			
		<%= image_tag avatar_url(current_user.email, 35), id: "menu-avatar"%> 
		</a>
		<ul class="dropdown-menu" role="menu">
        	<li class="dropdown-header"> Logged in: <b><%=current_user.username? ?  current_user.username : current_user.email %></b></li>
        	<li class="divider"></li>
       <!--  <%if current_user.present? && (current_user.role == "Super user" || current_user.role == "Admin")%>
        	<li>
        		<%=link_to my_videos_path do%>
        		<span class="fa fa-film"></span>&nbsp;
        		My Videos
        		<%end%>
        	</li>
        	<li class="divider"></li>
        <%end%>
		<%if current_user.present? && current_user.role == "Super user"%>
        	<li class="dropdown-header"> Admin Tasks</li>
        	<li>
	        	<%= link_to user_index_path do%>
	       		<span class="fa fa-users"></span>&nbsp;
	        	Manage Users
	        	<%end%>
        	</li>                              
            <li>
	            <%= link_to dojos_path do%>
	       		<span class="fa fa-building-o"></span>&nbsp;
	            Manage Dojos
	            <%end%>
            </li> 
            <li>
	            <%= link_to genres_path do%>
	       		<span class="fa fa-code"></span>&nbsp;
	            Manage Genres
	            <%end%>
            </li>
            <li class="dropdown-header"> Reports</li>
            <li><%=link_to "Active Users", reports_active_users_path,"data-no-turbolink" => true%></li>

            <li class="divider"></li>                  
        <%end%>
			 --><li>
				<%= link_to edit_user_registration_path do%>
	       		<span class="fa fa-edit"></span>&nbsp;
				Update Account
				<%end%>
			</li>
			<li><a href="#"></a></li>
			<li class="divider"></li>
			<li>
				<%= link_to destroy_user_session_path, method: :delete do%>
				<span class="fa fa-sign-out"></span>&nbsp;
				Log out
				<%end%>
			</li>
		</ul>
	</li>
<% else %>
	<li><%= link_to('Login', new_user_session_path)  %></li>
<% end %>