<h1 class="page-header">Edit User</h1>

<%= form_for(@user, url: admins_update_user_path) do |f| %>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email%>
  </div>

  <div class="field">
    <%= f.label :password %><i>(leave blank if you don't want to change it)</i>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :admin%>
    <%= f.check_box :admin%>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
    <%= link_to "Cancel", :back %>
  </div>
<% end %>