<h1 class="page-header">Upload Video</h1>

<div class="well col-md-5">
  <div class="col-md-10">  
    <%=simple_form_for (@video), :html => { :multipart => true, :class => "directUpload form-horizontal", :id => "uploadForm"   } do |f|%>
    	<%=f.input :title, required: false%>
      <%=f.input :video_descrip, as: :text, label: "Description", required: false %>
      <%=f.input :user_id, as: :hidden, input_html: {value: current_user.id, readonly: true}%>
      <%=f.association :genre, as: :select,  prompt: "Choose a genre", required: false,
       :label_method => lambda { |g| "#{g.genre_name} " }%>

      <%=f.input :rank, collection: User.ranks, hint: "The lowest student level that can access this video",selected: 1%>
      <%= f.button :submit, "Save", id: 'uploadFormSubmitButton'%>
      <%= link_to "Back", :back, class: "btn btn-link"%>
    <%end%>
  </div>
</div>

<!--script for form validation-->
<script type="text/javascript">
  $(document).ready(function(){
    $('#uploadForm').isHappy({
      fields: {
        '#video_title': {
          required: true,
          message: "can't be blank"
        },
        '#video_video_descrip': {
          required: true,
          message: "can't be blank"
        },
        '#video_genre_id': {
          required: true,
          message: "can't be blank"
        },
        '#video_file_url': {
          required: true,
          message: "No file selected"
        }
      },
      classes: {
        field: 'has-error',
        message: 'has-error help-block '
      }
    });
  });
</script>