<h1 class="page-header">Videos</h1>

<div class="col-md-8">	
	<table class="table table-bordered order-table">
		<tbody>
			<%@videos.each do |v| %>
			<tr>
				<td>
					<div class="listed-vid row">
						<div class="col-sm-3">
							<%= image_tag(v.genre.thumbnail, alt: "thumbnail")%>						
						</div>
						<div class="col-sm-9">							
							<ul>
								<li><h4><%= link_to v.title.capitalize, video_path(v),  "data-no-turbolink" => true %></h4></li>
								<%ul = v.user%>
								<li>
									<h6>
										by <b><%=ul.username? ? ul.username : ul.email %></b> on <b><%= v.created_at.strftime("%e-%b-%Y")%></b>
									</h6>
								</li>
								<hr/>
								<li>																
									<p><%= v.video_descrip.capitalize%></p>								
								</li>
								<li>
									<%=v.genre.genre_name%>
								</li>
							</ul>
						</div>
					</div>
				</td>
			</tr>
			<%end%>		
		</tbody>
	</table>
</div>

<script type="text/javascript">
    (function(document) {
  'use strict';

  var LightTableFilter = (function(Arr) {

    var _input;

    function _onInputEvent(e) {
      _input = e.target;
      var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
      Arr.forEach.call(tables, function(table) {
        Arr.forEach.call(table.tBodies, function(tbody) {
          Arr.forEach.call(tbody.rows, _filter);
        });
      });
    }

    function _filter(row) {
      var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
      row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
    }

    return {
      init: function() {
        var inputs = document.getElementsByClassName('light-table-filter');
        Arr.forEach.call(inputs, function(input) {
          input.oninput = _onInputEvent;
        });
      }
    };
  })(Array.prototype);

  document.addEventListener('readystatechange', function() {
    if (document.readyState === 'complete') {
      LightTableFilter.init();
    }
  });

})(document);
</script>