<h1 class="page-header">Upload Video</h1>

<div class="well col-md-5">
  <div class="col-md-10">  
<%=simple_form_for (@video), :html => { :multipart => true, :class => "directUpload form-horizontal", :id => "uploadForm"   } do |f|%>
	<%categories = []%>
  <%Category.all.order(:category_name).each {|c| categories.push(c.category_name)}%>

  <%=f.input :file_url, as: :file, label: "File"%>
  <%=f.input :title, required: false%>
  <%=f.input :video_descrip, as: :text, label: "Description", required: false %>
  <%=f.input :uploader, input_html: {value: current_user.username, readonly: true}%>
  <%=f.input :category_id, collection: categories, required: false%>
  <%=f.input :rank, collection: User.ranks, hint: "The lowest student level that can access this video",selected: 1%>
  <%= f.button :submit, "Save", id: 'uploadFormSubmitButton'%>
  <%= link_to "Back", :back, class: "btn btn-link"%>
  </div>
</div>

<!-- 
	<%=f.label :title%>
	<%=f.text_field :title%><br>

	<%=f.label :uploader%>
	<%=f.text_field :uploader, value: current_user.email, readonly: true%><br>

	<%=f.label :rank%>
	<%=f.select :rank, User.ranks%><br>

	<%=f.label :category%>
	<%=f.collection_select(:category_id, Category.all.order(:category_name), :id, :category_name)%><br>

	<%=f.label :'text file'%>
	<%=f.file_field :file_url%><br>


	<%=f.submit("Save", :class => "btn btn-sm btn-primary")%>
 -->

<%end%>
<!--script for direct file upload-->
<script type="text/javascript">
	$(function() {
  $('.directUpload').find("input:file").each(function(i, elem) {
    var fileInput    = $(elem);
    var form         = $(fileInput.parents('form:first'));
    var submitButton = form.find('input[type="submit"]');
    var progressBar  = $("<div class='progress-bar' role='progressbar'></div>");
    var barContainer = $("<div class='progress'></div>").append(progressBar);
    fileInput.after(barContainer);
    fileInput.fileupload({
      fileInput:       fileInput,
      url:             '<%= @s3_direct_post.url %>',
      type:            'POST',
      autoUpload:       true,
      formData:         <%= @s3_direct_post.fields.to_json.html_safe %>,
      paramName:        'file', // S3 does not like nested name fields i.e. name="user[avatar_url]"
      dataType:         'XML',  // S3 returns XML if success_action_status is set to 201
      replaceFileInput: false,
      progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        progressBar.
          addClass('progress-bar-info').
          css('width', progress + '%').
          css('color', 'white').
          text(progress + "%");


      },
      start: function (e) {
        submitButton.prop('disabled', true);

        progressBar.
          css('display', 'block').
          css('width', '0%').
          css('color', 'black').
          text("Loading...");
      },
      done: function(e, data) {
        submitButton.prop('disabled', false);
        progressBar.
        css('color', 'white').
        text("Upload Complete").
        removeClass("progress-bar-info").
        addClass("progress-bar-success");

        // extract key and generate URL from response
        var key   = $(data.jqXHR.responseXML).find("Key").text();
        var url   = 'https://<%= @s3_direct_post.url.host %>/' + key;

        // create hidden field
        var input = $("<input />", { type:'hidden', name: 'video[file_url]', value: url })
        form.append(input);
      },
      fail: function(e, data) {
        submitButton.prop('disabled', false);

        progressBar.
          css("color", "white").
          css("width", "100%").
          removeClass("progress-bar-info").
          addClass("progress-bar-danger").
          text("Failed");          
      }
    });
  });
});
</script>

<!--script for form validation-->
<script type="text/javascript">
  $(document).ready(function(){
    $('#uploadForm').isHappy({
      fields: {
        '#video_title': {
          required: true,
          message: "can't be blank"
        },
        '#video_video_descrip': {
          required: true,
          message: "can't be blank"
        },
        '#video_category_id': {
          required: true,
          message: "can't be blank"
        },
        '#video_file_url': {
          required: true,
          message: "No file selected"
        }
      }
    });
  });
</script>
