<div class="col-md-10 col-md-offset-1">
	<%=videojs_rails sources: {mp4: @video.file_url},controls:true, width: "854", height: "480" do%>
		Please enable <b>JavaScript</b> to see this content.
	<%end%>
	<br>
	<div class="video-details well">
		<h2><%= @video.title.capitalize!%></h2>
		<%ul=User.find(@video.uploader)%>
		<h5><%= ul.username? ? ul.username : ul.email%></h5>
		<hr>
		<b>Published on <%= @video.created_at.strftime("%b %e, %Y")%></b>
		<p><%=@video.video_descrip%></p>		
	</div>	
</div>


