<h1><%=@video.title%></h1>

<ul>
	<li>title: <%=@video.title%></li>
	<li>uploader: <%=@video.uploader%></li>
	<li>cateogry: <%=@video.category_id%></li>
	<li>ranks: <%=@video.rank%></li>
	<li>file url: <%=@video.file%></li>
</ul>

<video id="example_video_1" class="video-js vjs-default-skin"
  controls preload="auto" width="640" height="264"
  poster="http://video-js.zencoder.com/oceans-clip.png"
  data-setup='{"example_option":true}'>
 <source src= <%=@video.file%> type='video/mp4' />
 <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
</video>