<h1><%=@video.title%></h1>

<ul>
	<li>title: <%=@video.title%></li>
	<li>uploader: <%=@video.uploader%></li>
	<li>cateogry: <%=@video.category_id%></li>
	<li>ranks: <%=@video.rank%></li>
	<li>file url: <%=@video.file_url%></li>
</ul>

<%= video_player src: { mp4: @video.file_url }, controls: true %>
