<h1 class="page-header">User#edit</h1>
<%= form_for @user do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :role%>
    <%options_for_select = ["User", "Admin", "Super user"]%>
    <%= f.select :role, options_for_select%>    
  </div>

  <div class="field">
    <%= f.label :active%>
    <%= f.check_box :active%>    
  </div>

  <div class="field">
    <%= f.label :adult%>
    <%= f.check_box :adult%>        
  </div>

  <div class="field">
    <%= f.label :rank%>
    <% options_for_rank = ["Instructor", "Black", "White"]%>
    <%= f.select :rank, options_for_rank%>    
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
