<h1 class="page-header">User#edit</h1>
<%= form_for @user do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :role%>
    <%options_for_select = [["User", "user"], ["Admin", "admin"], ["Super user", "super_user"]]%>
    <%= f.select :role, options_for_select%>    
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
