<h1 class="page-header">Edit user</h1>

<div class="well col-lg-4">
  <div class="col-md-10">
    <%= render "form"%>
  </div>
</div>
 
<!-- 
<%= form_for @user do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

    <div class="field">
    <%= f.label :dojo %><br />
    <%= f.collection_select(:dojo_id, Dojo.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :role%>
    <%= f.select :role, User.roles%>    
  </div>

  <div class="field">
    <%= f.label :active%>
    <%= f.check_box :active%>    
  </div>

  <div class="field">
    <%= f.label :adult%>
    <%= f.check_box :adult%>        
  </div>

  <div class="field">
    <%= f.label :rank%>
    <%= f.select :rank, User.ranks%>    
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
 -->
