<h1 class="page-header">Edit user</h1>

<div class="well col-lg-4">
  <div class="col-md-10">
    <%= simple_form_for(@user, url: {action: "update"}, html: { class: 'form-horizontal' }) do |f|%>
      <%= f.input :username%> 
      <%= f.input :email%> <!--
      <%= f.input :password, input_html: {value: "123454678"}%>
      <%= f.input :password_confirmation, input_html: {value: "123454678"}%> -->
      <%= f.input :role, collection: User.roles %>
      <%= f.input :dojo_id, collection: Dojo.all, required: false%>
      <%= f.input :rank, collection: User.ranks, selected: 1%>
      <%= f.input :active%>
      <%= f.button :submit%> 
      <%=link_to "Back", :back, class: "btn btn-link"%> 
  <%end%>
  </div>
</div>
 