<h1>Listing dojos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dojos.each do |dojo| %>
      <tr>
        <td><%= dojo.name %></td>
        <td><%= link_to 'Show', dojo %></td>
        <td><%= link_to 'Edit', edit_dojo_path(dojo) %></td>
        <td><%= link_to 'Destroy', dojo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dojo', new_dojo_path %>
