<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @bug.user %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bug.description %>
</p>

<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>
