<!DOCTYPE html>
<html>
<head>
  <title>DojoTube2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "DojoTube", root_url, :class => "navbar-brand"%>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <% if current_user.try(:admin)%> 
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrator Tasks <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to "Manage Users", user_index_path%></li>
                  <li class="divider"></li>                  
                  <li><%= link_to "Manage Dojos", dojos_path%></li> 
                  <li class="divider"></li>                  
                  <li><%= link_to "Manage Categories"%></li>                  
                  <li></li>                  
                </ul>
              </li>             
            <%end%>  
          </ul>
          <div class="navbar-right">
          <ul class="nav navbar-nav">
            <%= render 'devise/menu/login_items'%>                                    
          </ul>
          </div>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <div class="container">
    <br>
    <%= bootstrap_flash%>
    <%= yield %>  
    </div>


</body>
</html>
