<!DOCTYPE html>
<html>
<head>
  <title>DojoTube2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.png' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="brand-head container-fluid">
        <div class="navbar-header col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <%= link_to root_url, :class => "navbar-brand" do%>
            <%= image_tag("logo.png", :class => "logo")%>
          <%end%> 
          <%if current_user.present? && (current_user.role == "Super user" || current_user.role == "Admin")%>
          <button class="btn btn-default nav-btn" id="side-toggle"  title="Toggle category menu">
           <span class="fa fa-align-justify"></span>            
           <span class="fa fa-caret-down"></span>           
          </button>
        <%end%>
        </div>


        
        <div class="col-md-4 col-sm-4 ">
          <form class="navbar-form  nav-btn"  role="search">
            <div class="form-group">
              <div class="input-group">
                <input type="search" class="light-table-filter form-control home-search" data-table="order-table" placeholder="Search">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-default"><span class="fa fa-search"></span></button>                                  
                </span>
              </div>
            </div>
          </form>        	
        </div>

        <div class="col-sm-3 col-md-3 col-lg-2 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 navbar-right">
          <div id="navbar" class="navbar-collapse collapse brand-head">
          <ul class="nav navbar-nav">
            <%if current_user.present? && (current_user.role == "Super user" || current_user.role == "Admin")%>
            <li>
              <%= link_to new_video_path  do%>
              <span class="fa fa-cloud-upload "></span>&nbsp;
              Upload video
              <%end%>
            </li>
            <%end%>
             <%= render 'devise/menu/login_items'%>                                    
          </ul>
          </div>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    
    <div class="container" id="foreground">
      <div class="row">      
         <br>
		 <%if current_user.present? && (current_user.role == "Super user" || current_user.role == "Admin")%>
         <div class="col-sm-3 col-md-2 sidebar" id="sidebar" style="display:none;">         
		    <ul class="nav nav-sidebar">
        		<li> <h5>Admin Tasks</h5></li>
        		<li><hr></li>
        		
	        	<li>
	        		<%=link_to my_videos_path do%>
	        		<span class="fa fa-film"></span>&nbsp;
	        		My Videos
	        		<%end%>
	        	</li>
        		<%end%>
		<%if current_user.present? && current_user.role == "Super user"%>
        	<li>
	        	<%= link_to user_index_path do%>
	       		<span class="fa fa-users"></span>&nbsp;
	        	Manage Users
	        	<%end%>
        	</li>                              
            <li>
	            <%= link_to dojos_path do%>
	       		<span class="fa fa-building-o"></span>&nbsp;
	            Manage Dojos
	            <%end%>
            </li> 
            <li>
	            <%= link_to genres_path do%>
	       		<span class="fa fa-code"></span>&nbsp;
	            Manage Genres
	            <%end%>
            </li>
            <li><hr></li>
            <li><h5>Reports</h5></li>
            <li><%=link_to "Active Users", reports_active_users_path,"data-no-turbolink" => true%></li>                             
        <%end%>
		    </ul>      
		</div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-sm-offset-2 ">
         <%= bootstrap_flash%>
         <%= yield %>   
    </div>
      </div>
   </div> 


   <footer class="footer">
    <div class="container">
      <p class="muted">
        Chris Langsford, 2015 &copy; - 
        <%= link_to "Report a bug", new_bug_path, :class => "btn btn-link btn-xs" %>
      </p>
    </div>     
   </footer>


<script type="text/javascript">
  $("#side-toggle").click(function(){
  	$("#sidebar").slideToggle();
  });        
</script>
</body>
</html>


